/* Fuentes */

/* i have bad news ... Space mono */
/* 404 not found ... Inconsolata */

/* 
colores:
gris1 titulos, botón
gris2 texto
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Space Mono', 'Inconsolata', 'Montserrat';
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    background-color: salmon;
 
}

header{
    display: flex;
    align-items: center;
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 2.4rem;
    background-color: red;
}
header p {
    color: #333333;
}
main {
    display: flex;
}
main .leftCont-img{
    width: 549px;
    height: 447px;
}
.rightCont .title1 {
    font-family: 'Space Mono';
    font-size: 6.4rem;
    font-weight: 700;
    color: #333333;
}
.rightCont .text1 {
    font-family: 'Space Mono';
    font-size: 2.4rem;
    font-weight: 400;
    color: #4F4F4F;
}

footer{
    text-align: center;
    background-color: blue;
}
footer p {
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    color: #BDBDBD;
}
